Repository datarobot/airflow-provider-datarobot, changes with the owners that CODEOWNERS names for each.
All owners: @datarobot/machine-learning-development, @datarobot/cfx, @datarobot/mldata, @datarobot/model-management, @datarobot/trust-explainable-ai, @datarobot/predictions, @datarobot/tracking-agent, @datarobot/api-docs

[CFX-1510] Use new pipeline manual run type
  datarobot_provider/_experimental/operators/notebook.py
Owners: @datarobot/cfx

[CFX-1510] Set default as empty string and check for truthiness not against None
  datarobot_provider/_experimental/operators/notebook.py
Owners: @datarobot/cfx

[CFX-1510] Misc updates
  datarobot_provider/_experimental/operators/notebook.py
Owners: @datarobot/cfx

[CFX-1510] Add a constants file
  datarobot_provider/_experimental/sensors/notebook.py
  datarobot_provider/constants.py
Owners: @datarobot/cfx, @datarobot/machine-learning-development

Bump version and changelog
  datarobot_provider/__init__.py
  datarobot_provider/_version.py
Owners: @datarobot/machine-learning-development

Changelog tagging
  CHANGES.md
Owners: @datarobot/machine-learning-development

Update pipeline release-pypi
  .harness/release_pypi.yaml
Owners: @datarobot/machine-learning-development

[MLDEV-1225] Update and tag version 0.1.0 for release to pypi with P0 example DAG (#160)
  .harness/release_pypi.yaml
  CHANGES.md
  datarobot_provider/__init__.py
  datarobot_provider/_version.py
Owners: @datarobot/machine-learning-development

removed use of `use_feature_discovery`
  datarobot_provider/operators/datarobot.py
Owners: @datarobot/machine-learning-development

typo in comment
  datarobot_provider/example_dags/feature_discovery_example.py
Owners: @datarobot/machine-learning-development

partial implementation of feature discovery DAG
  datarobot_provider/example_dags/deprecated_dags/__init__.py
  datarobot_provider/example_dags/feature_discovery_example.py
Owners: @datarobot/machine-learning-development

removed project name reference
  datarobot_provider/example_dags/feature_discovery_example.py
  datarobot_provider/operators/datarobot.py
Owners: @datarobot/machine-learning-development

added example feature discovery DAG
  datarobot_provider/example_dags/feature_discovery_example.py
  datarobot_provider/operators/feature_discovery.py
Owners: @datarobot/machine-learning-development, @datarobot/mldata

cleanup of last changes to get Feature Discovery DAG working
  datarobot_provider/example_dags/feature_discovery_example.py
  datarobot_provider/operators/datarobot.py
Owners: @datarobot/machine-learning-development

added Jira tags to TODO comments
  datarobot_provider/example_dags/feature_discovery_example.py
Owners: @datarobot/machine-learning-development

updated with dzmitrys comments
  datarobot_provider/example_dags/feature_discovery_example.py
Owners: @datarobot/machine-learning-development

added comment to CHANGES.md
  CHANGES.md
  datarobot_provider/example_dags/feature_discovery_example.py
Owners: @datarobot/machine-learning-development

unit test fix
  tests/unit/operators/test_datarobot.py
Owners: @datarobot/machine-learning-development

[DM-16905] Add Feature Discovery example DAG (#156)
  CHANGES.md
  datarobot_provider/example_dags/deprecated_dags/__init__.py
  datarobot_provider/example_dags/feature_discovery_example.py
  datarobot_provider/operators/datarobot.py
  datarobot_provider/operators/feature_discovery.py
  tests/unit/operators/test_datarobot.py
Owners: @datarobot/machine-learning-development, @datarobot/mldata

[CFX-1590] More mypy updates including ignoring autogen and experimental example DAGs (#159)
  datarobot_provider/__init__.py
  datarobot_provider/autogen/generate_operator.py
  datarobot_provider/hooks/connections.py
  datarobot_provider/hooks/credentials.py
  datarobot_provider/hooks/datarobot.py
  datarobot_provider/operators/ai_catalog.py
  datarobot_provider/operators/base_datarobot_operator.py
  datarobot_provider/operators/custom_models.py
  datarobot_provider/operators/deployment.py
  datarobot_provider/operators/mlops.py
  datarobot_provider/operators/model_insights.py
  datarobot_provider/operators/model_package.py
  datarobot_provider/operators/model_predictions.py
  datarobot_provider/operators/model_training.py
  datarobot_provider/operators/prediction_explanations.py
  pyproject.toml
Owners: @datarobot/machine-learning-development, @datarobot/mldata, @datarobot/model-management, @datarobot/trust-explainable-ai, @datarobot/predictions

CODEOWNERS:

*                                                        @datarobot/machine-learning-development
/datarobot_provider/_experimental/operators/notebook.py  @datarobot/cfx
/datarobot_provider/_experimental/sensors/notebook.py    @datarobot/cfx
/datarobot_provider/operators/ai_catalog.py              @datarobot/mldata
/datarobot_provider/operators/connections.py             @datarobot/mldata
/datarobot_provider/operators/deployment.py              @datarobot/model-management
/datarobot_provider/operators/feature_discovery.py       @datarobot/mldata
/datarobot_provider/operators/mlops.py                   @datarobot/model-management
/datarobot_provider/operators/model_insights.py          @datarobot/trust-explainable-ai
/datarobot_provider/operators/model_package.py           @datarobot/model-management
/datarobot_provider/operators/model_predictions.py       @datarobot/predictions
/datarobot_provider/operators/monitoring.py              @datarobot/model-management
/datarobot_provider/operators/monitoring_job.py          @datarobot/tracking-agent
/datarobot_provider/operators/prediction_explanations.py @datarobot/trust-explainable-ai
/docs                                                    @datarobot/api-docs
/tests/                                                  @datarobot/machine-learning-development
